main {
  /* background-color: #b76e79; */
  display: flex;
  align-items: center;
  gap: 20px;
}
span {
  font-size: 2rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b76e79;
  border: 5px black solid;
  width: 50vw;
  height: 50vh;
  margin: auto;
}
